<app-sidebar *ngIf="isLogged"></app-sidebar>

<div class="contenedor overflow-hidden">

    <div class="container mt-3">

        <h2>Crear Incidencia</h2>

        <form [formGroup]="ticketForm" (submit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name"><i class="fa-solid fa-user"> </i> Nombre:</label>
                <input type="text" class="form-control form-control-lg" id="Name" placeholder="Ingrese su nombre"
                    formControlName="Name">
            </div>

            <div class="form-group">
                <label for="Email"><i class="fa-solid fa-envelope"> </i> Email:</label>
                <input type="Email" class="form-control form-control-lg" id="Email" placeholder="Ingrese su email"
                    formControlName="Email">
            </div>

            <div class="form-group">
                <label for="Title"><i class="fa-solid fa-pen"></i> Título:</label>
                <input type="text" class="form-control form-control-lg" id="Title" placeholder="Ingrese el título"
                    formControlName="Title">
            </div>

            <div class="form-group">
                <label for="Content"><i class="fa-solid fa-file-pen"></i> Descripción:</label>
                <textarea class="form-control  form-control-lg" id="Content" rows="3"
                    placeholder="Ingrese la descripción" formControlName="Content"></textarea>
            </div>

            <div class="form-group">
                <label for="Attachments"><i class="fa-solid fa-folder"></i> Adjuntar Archivos:</label> <br>
                <input type="file" id="Attachments" formControlName="Attachments" multiple
                    (change)="onFileChange($event)" style="display: none;">
                <button type="button" onclick="document.getElementById('Attachments').click()"
                    class="custom-file-button btn btn-lg"><i class="fa-solid fa-arrow-up-from-bracket"></i> Seleccionar
                    Archivos</button>

                <div *ngIf="isFileSelected" class="logotipe">
                    <div *ngIf="isImageSelected">
                        <img *ngFor="let previewUrl of previewUrls" [src]="previewUrl" alt="Vista previa del archivo" class="preview-image">
                    </div>
                    <div *ngIf="!isImageSelected">
                        <a *ngFor="let previewUrl of previewUrls" class="preview-link" [href]="previewUrl" target="_blank">Ver Archivo
                            Adjunto</a>
                    </div>
                </div>
            </div>

            <br>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-lg" id="liveToastBtn">Enviar Incidencia</button>

            </div>

        </form>

        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>

    </div>