<app-lenguage *ngIf="!isLogged" class="d-flex justify-content-end"></app-lenguage>
<app-sidebar *ngIf="isLogged"></app-sidebar>

<div class="custom-container overflow-hidden">
    <div class="container mt-3">
        <h2>{{'incidence-index.title' | translate}}</h2>

        <form [formGroup]="ticketForm" (submit)="onSubmit()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name"><i class="fa-solid fa-user"> </i> {{'incidence-index.name' | translate}}</label>
                <input type="text" class="form-control form-control-lg" id="Name"
                    placeholder="{{'incidence-index.nameplaceholder' | translate}}" formControlName="Name">
            </div>

            <div class="form-group">
                <label for="Email"><i class="fa-solid fa-envelope"> </i> {{'incidence-index.email' | translate}}</label>
                <input type="Email" class="form-control form-control-lg" id="Email"
                    placeholder="{{'incidence-index.emailplaceholder' | translate}}" formControlName="Email">
            </div>

            <div class="form-group">
                <label for="Title"><i class="fa-solid fa-pen"></i> {{'incidence-index.titleincidence' |
                    translate}}</label>
                <input type="text" class="form-control form-control-lg" id="Title"
                    placeholder="{{'incidence-index.titleplaceholder' | translate}}" formControlName="Title">
            </div>

            <div class="form-group">
                <label for="Content"><i class="fa-solid fa-file-lines"></i> {{'incidence-index.content' |
                    translate}}</label>
                <textarea class="form-control  form-control-lg" id="Content" rows="3"
                    placeholder="{{'incidence-index.contentplaceholder' | translate}}"
                    formControlName="Content"></textarea>
            </div>

            <div class="form-group">
                <label for="Attachments"><i class="fa-solid fa-folder"></i> {{"comunication.upload" |
                    translate}}</label> <br>
                <input type="file" id="Attachments" formControlName="Attachments" (change)="onFileChange($event)"
                    style="display: none;" multiple>
                <button type="button" onclick="document.getElementById('Attachments').click()"
                    class="custom-file-button btn btn-lg">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    {{"comunication.select" | translate}}</button>
                <div *ngIf="isFileSelected" class="logotipe preview">
                    <div *ngFor="let previewUrl of previewUrls; let i = index">
                        <img *ngIf="isImage(previewUrl)" [src]="previewUrl" class="preview-image"
                            alt="Vista previa del archivo">
                        <div *ngIf="!isImage(previewUrl)">
                            <img [src]="previewUrl" class="preview-image" alt="Vista previa del archivo">
                            <p>{{ selectFilesNames[i] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button [disabled]="!ticketForm.valid" (click)="openSnackBar()" type="submit" class="btn btn-lg"
                    id="liveToastBtn"><i class="fa-regular fa-paper-plane"></i> {{'incidence-index.send' | translate}}</button>
            </div>
        </form>
        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>
    </div>