@import "../../../../styles/variables.scss";

* {
  padding: 4px;
}

h2 {
  color: $text-color-dark;
  text-align: center;
}


.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;

}

.custom-container {
  margin: 2rem auto;
  border-radius: 25px;
  background-color: $bg-color-mid;
  width: 900px;
  padding: 20px;
  color: $color-light;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
  font-size: large;

  & input:focus,
  & textarea:focus,
  & select:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border-color: $color-warning;
    background-color: $bg-color-mid-2;
  }

  input.placeholder,
  textarea.placeholder,
  select.placeholder {
    color: $text-color-warning;
  }

  & input,
  textarea {
    border-radius: 10px;
    background-color: $bg-color-mid;
    color: $text-color-mid !important;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: $color-secondary;
  }

  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: $color-secondary;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: $color-secondary;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: $color-secondary;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: $color-secondary;
  }

  & select {
    color: $color-danger !important;
    background-color: $bg-color-danger;
  }

  &:active {
    border-color: $text-color-mid !important;
  }
}

.preview-link {
  color: $text-color-dark;
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.custom-file-button {
  display: block;
  margin: 0 auto;
  color: $text-color-light;
  background-color: $bg-color-warning;
  border: 1px solid $color-warning;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }

}

.carousel-item {
  border-color: red;
}


.logotipe {
  text-align: center;

  img {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }

  .preview-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }
}

.green-snackbar {
  background-color: $color-success !important;
  color: #fff; 
}

.btn-trahs {
  border-color: $color-danger;
  color: $color-danger;
  background-color: transparent;
  border: 1px solid $bg-color-danger;
  width: 40px;
  border-radius: 5px;

  &:hover {
    border-color: $color-danger;
    color: $color-light;
    background-color: $bg-color-danger;
  }
}


//quitar color autocompletado de chrome y safari en el input text
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0 30px $bg-color-mid inset !important;
        box-shadow: 0 0 0 30px $bg-color-mid inset !important;
-webkit-background-clip: text;
-webkit-text-fill-color: #fff;
  &:hover,
  &:focus,
  &:active {
    -webkit-box-shadow: 0 0 0 30px $bg-color-mid inset !important;
            box-shadow: 0 0 0 30px $bg-color-mid inset !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
  }
}

.preview-image {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
}

.preview-file {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 55px;
}


@media screen and (max-width: 992px) {
  .custom-container {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin: 0;
    padding: 20px;
    border-radius: 0;

  }

  .btn {
    width: 100%;
  }

  .btn2 {
    width: 100%;
  }

  .font {
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
  .custom-container {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;

  }

  .btn {
    width: 100%;
  }

  .btn2 {
    width: 100%;
  }

  .font {
    font-size: 16px;
  }
}