<app-lenguage class="d-flex justify-content-end"></app-lenguage>
<div class="container mt-lg-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>{{'recovered.title' | translate}}</h2>
            <form [formGroup]="recoveryForm" (ngSubmit)="resetPassword()">
                <div class="mb-3">
                    <label for="Password" class="form-label"><i class="fa-solid fa-lock"></i> {{'recovered.password' |
                        translate}}</label>
                    <input type="Password" class="form-control form-control-lg" id="Password"
                        placeholder="{{'recovered.passwordplaceholder' | translate}}" formControlName="Password">
                </div>

                <div class="mb-3">
                    <label for="RepeatPassword" class="form-label"><i class="fa-solid fa-lock"></i>
                        {{'recovered.password2' | translate}}</label>
                    <input type="Password" class="form-control form-control-lg" id="RepeatPassword"
                        placeholder="{{'recovered.passwordplaceholder2' | translate}}" formControlName="RepeatPassword">
                </div>

               

                <div class="d-grid mb-3">
                    <button type="submit" id="liveToastBtn" (click)="openSnackBar()" [disabled] class="iot-log-btn">{{'recovered.send' | translate}}</button>
                </div>
            </form>


        </div>

        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>

    </div>

</div>