@import './../../../styles/imports.scss';

.data {
  grid-area: data;
  background-color: $bg-color-mid-2;
  padding: 10px;
  border-radius: 10px;
}

.selectors {
  grid-area: selectors;
  background-color: $bg-color-mid-2;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
}

.messages {
  grid-area: messages;
  background-color: $bg-color-mid-2;
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-areas:
    'data data'
    'selectors messages';
  grid-gap: 10px;
  padding: 10px;
  color: $bg-color-light;
  margin-left: 8rem;
  width: 100vw;
}

.logotipe {
  text-align: center;

  img {
    width: 80%; 
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
  }

  .preview-image {
    width: 60%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
  }
}
/*
.site-layout {
  margin: 20px auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}*/

.margin-bottom {
  height: 25px;
}


@media screen and (max-width: 992px) {
  .container {
    grid-template-areas: "data"
                          "selectors"
                          "messages"; 
  }

  .logotipe img,
  .logotipe .preview-image {
    width: 90%;
    max-width: 250px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-areas: "data"
                          "selectors"
                          "messages"; 
  }

  .logotipe img,
  .logotipe .preview-image {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
  }
}
