@import './../../../styles/imports.scss';

.container {
  margin: 2rem auto;
  border-radius: 25px;
  background-color: $bg-color-mid;
  width: 900px;
  padding: 20px;
  color: $color-light;
  outline: none;
  box-shadow: none;
}

.logotipe {
  text-align: center;

  img {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }

  .preview-image {
    width: 150px;
    height: auto;
    border-radius: 10px;

  }
}
