<div id="loading" *ngIf="loading$ | async" class="w-100 h-100">
    <app-loading></app-loading>
</div>
<div>
    <app-sidebar *ngIf="!(loading$ | async)"></app-sidebar>
    <div class="container" *ngIf="!(loading$ | async)">
        <div class="data">
            <app-incidence-data></app-incidence-data>
        </div>
        <form>
            <div class="selectors">
                <app-data class="selectors-inner"></app-data>
            </div>
        </form>
        
        <form enctype="multipart/form-data">
            <div class="messages">
                <app-comunication></app-comunication>
            </div>
        </form>
        
    </div>
</div>
<div class="margin-bottom"></div>
