<div id="loading" *ngIf="loading$ | async" class="w-100 h-100">
    <app-loading></app-loading>
</div>
<div>
    <app-sidebar *ngIf="!(loading$ | async)"></app-sidebar>
    <div class="container" *ngIf="!(loading$ | async)">
        <form>
            <app-incidence-data></app-incidence-data>
            <hr>
            <app-data></app-data>
        </form>
        <hr>
        <form enctype="multipart/form-data">
            <app-comunication></app-comunication>
        </form>
        
    </div>
</div>