@import "../../../../styles/imports.scss";

// Variables
$primary-color: $bg-color-warning;
$secondary-color: $color-light;
$text-color: $text-color-dark;
$placeholder-color: $text-color-mid;
$warning-color: $color-warning;
$danger-color: $color-danger;
$bg-color: $bg-color-mid;
$bg-color-2: #074b4d;

// Estilos
* {
  padding: 4px;
}

h2 {
  color: $text-color;
  text-align: center;
}

.contenedor {
  margin: 2rem auto;
  border-radius: 25px;
  background-color: $bg-color;
  width: 900px;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  font-size: large;
  outline: none;
  box-shadow: none;

  & input:focus,
  & textarea:focus,
  & select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $warning-color;
    background-color: $bg-color-2;
  }

  input.placeholder,
  textarea.placeholder,
  select.placeholder {
    color: $placeholder-color;
  }

  input,
  textarea {
    border-radius: 10px;
    background-color: $color-mid;
    color: $text-color-mid;
  }

  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: $text-color-warning;
  }

  & select {
    color: $danger-color !important;
    background-color: $bg-color-danger;
  }

  &:active {
    border-color: $text-color !important;
  }
}

.custom-file-button {
  display: block;
  margin: 0 auto;
  color: $text-color;
  background-color: $primary-color;
  border: 1px solid $warning-color;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
    background-color: $bg-color-dark;
    border-color: $secondary-color;
  }
}

.preview-link {
  color: $text-color;
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}
.logotipe {
  text-align: center;

  img {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }

  .preview-image {
    width: 250px;
    height: auto;
    border-radius: 10px;

  }
}

.errorMsg {
  color: green;
  text-align: center;
}

// Media queries
@media screen and (max-width: 992px) {
  .contenedor {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .contenedor {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;
  }
}
