<h3>{{"comunication.title" | translate}}</h3>
<form [formGroup]="messageForm" (submit)="onSubmit()" enctype="multipart/form-data" class="container">
    <div class="form-group">
        <label for="Attachments"><i class="fa-solid fa-folder"></i> {{"comunication.upload" | translate}}</label> <br>
        <input type="file" id="Attachments" formControlName="Attachments" multiple (change)="onFileChange($event)"
            style="display: none;">
        <button type="button" onclick="document.getElementById('Attachments').click()"
            class="custom-file-button btn btn-lg"><i class="fa-solid fa-arrow-up-from-bracket"></i>
            {{"comunication.select" | translate}}</button>

        <div class="carousel-container">

            <div *ngIf="isFileSelected" class="carousel slide logotipe preview" id="carouselExampleIndicators"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let previewUrl of previewUrls; let i = index" class="carousel-item "
                        [class.active]="i === currentIndex">
                        <img *ngIf="isImage(previewUrl)" [src]="previewUrl" class="preview-image">
                        <button class="btn-trahs" (click)="deleteFile(i)" *ngIf="isImage(previewUrl)"><i
                                class="fa-solid fa-x"></i></button>
                        <div *ngIf="!isImage(previewUrl)" class="d-block justify-content-center">
                            <img [src]="previewUrl" class="preview-file" alt="..." matTooltip="{{selectFilesNames}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{truncateFileName(selectFilesNames[i], 20)}}</h5>
                                <button class="btn-trahs" *ngIf="!isImage(previewUrl)" (click)="deleteFile(i)">
                                    <i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="previewUrls.length > 1" class="carousel-control-prev" type="button" (click)="prevFile()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button *ngIf="previewUrls.length > 1" class="carousel-control-next" type="button" (click)="nextFile()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>

        </div>

    </div>
    <div class="mb-3 form-group">
        <label for="Content" class="form-label"><i class="fa-solid fa-message"></i> {{"comunication.name" |
            translate}}</label>
        <textarea class="form-control  form-control-lg" id="content" rows="3"
            placeholder="{{'comunication.nameplaceholder' | translate}}" formControlName="Content"></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button [disabled]="!messageForm.valid" type="submit" class="m-1 btn btn-lg"><i class="fa-solid fa-paper-plane"
                id="liveToastBtn"></i> {{"comunication.send" | translate}}</button>
    </div>
    <div class="logotipe">
        <img class="logo" src="assets/images/logo/IoTlogo.png" alt="">
    </div>
</form>