<h1>{{"comunication.title" | translate}}</h1>

<form [formGroup]="messageForm" (submit)="onSubmit()" enctype="multipart/form-data" class="container">
    <div class="form-group">
        <label for="Attachments"><i class="fa-solid fa-folder"></i> {{"comunication.upload" | translate}}</label> <br>
        <input type="file" id="Attachments" formControlName="Attachments" multiple (change)="onFileChange($event)"
            style="display: none;">
        <button type="button" onclick="document.getElementById('Attachments').click()"
            class="custom-file-button btn btn-lg"><i class="fa-solid fa-arrow-up-from-bracket"></i>
            {{"comunication.select" | translate}}</button>

        <div *ngIf="previewUrl" class="logotipe">
            <img [src]="previewUrl" *ngIf="isImageSelected" alt="Vista previa del archivo" class="preview-image">
            <a class="preview-link" [href]="previewUrl" *ngIf="!isImageSelected"
                target="_blank">{{"comunication.download" | translate}}</a>
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="Content" class="form-label"><i class="fa-solid fa-message"></i> {{"comunication.name" |
            translate}}</label>
        <textarea class="form-control  form-control-lg" id="content" rows="3"
            placeholder="{{'comunication.nameplaceholder' | translate}}" formControlName="Content"></textarea>
    </div>
    <div class="mt-3 d-md-flex justify-content-end">
        <button [disabled]="!messageForm.valid" (click)="openSnackBar()" id="liveToastBtn" type="submit" class="mt-1 btn btn-lg coment"> {{"comunication.send" |translate}}</button>
    </div>
    <div class="logotipe">
        <img src="assets/images/logo/IoTlogo.png" alt="">
    </div>
</form>