@import "../../../styles/variables.scss";

.language{
  margin: 1rem;
}

.btn {
  background-color: $bg-color-mid;
  border-color: #202124;
  border-radius: 0.625rem;
  transition: all .3s ease;
  align-items: center;
  justify-content: center;
  border-style: none;

  &:hover {
    background-color: $bg-color-danger;
  }

  &.active {
    background-color: $bg-color-warning;
  }

  &.btnES {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.btnEN {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}

@media screen and (max-width: 992px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 6vw;
    width: 6vw;
  }

  img {
    height: 3vw;
  }

}

@media screen and (max-width: 700px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 8vw;
    width: 8vw;
  }

  img {
    height: 4vw;
  }

}

@media screen and (max-width: 530px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 9vw;
    width: 9vw;
  }

  img {
    height: 4.5vw;
  }

}
