@import "../../../styles/variables.scss";

.language {
  margin: 1rem;
}

img {
  height: 1.6vw;
  width: auto;
  border-radius: 10px;
}

.btn {
  background-color: $bg-color-mid;
  border-color: #202124;
  border-radius: 0.625rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;

  &:hover {
    background-color: $bg-color-danger;
  }

  &.active {
    background-color: $bg-color-warning;
  }

  &.btnES {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.btnEN {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}

@media screen and (max-width: 992px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 4.3vw;
    width: 4.3vw;
  }

  img {
    height: 2.3vw;
  }

}

@media screen and (max-width: 700px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 6.5vw;
    width: 6.5vw;
  }

  img {
    height: 3.2vw;
  }

}

@media screen and (max-width: 530px) {

  .language {
    margin: 2vw;
  }

  .btn {
    height: 8.2vw;
    width: 8.2vw;
  }

  img {
    height: 4vw;
  }

}
