@import '../../../../styles/imports.scss';

h1 {
  color: $text-color-dark;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.container {
  background-color: $bg-color-mid;
  color: $text-color-mid;
  width: 800px;
  height: auto;
  padding: 70px;
  border-radius: 25px;
  align-items: center;

  input {
    border-color: $text-color-warning;
    background-color: $bg-color-mid;
    color: $text-color-mid;
  }

  input::placeholder {
    color: $text-color-warning;
    font-style: italic;
  }
}

#myInput::placeholder {
  font-weight: bold;
}


.mat-mdc-progress-spinner.mat-warn {
  --mdc-circular-progress-active-indicator-color: #074b4d !important;
}

.progress-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $color-warning;

}

.btn {
  background-color: $bg-color-warning;
  font-size: larger;
  border-radius: 6px;
  border-style: none;
  color: $color-dark;
  padding: 10px;

  &:hover {
    color: $color-light;
  }
}

.link {
  color: $color-light;
  text-align: center;
  align-items: center;
}

img {
  width: 350px;
  height: auto;
}

.logotipe {
  text-align: center;
}

.error-msg {
  color: $color-danger;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    color: $text-color-mid;
    width: 800px;
    height: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logotipe {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
