@import '../../../../styles/imports.scss';

.container {
  background-color: $bg-color-mid;
  color: $text-color-mid;
  width: 90vw;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem; 

  input {
    border-color: $text-color-warning;
    background-color: $bg-color-mid;
    color: $text-color-mid;
    font-size: 0.875rem;
  }

  input::placeholder {
    color: $text-color-warning;
    font-style: italic;
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px $bg-color-mid inset !important;
    -webkit-text-fill-color: #fff;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 30px $bg-color-mid inset !important;
      -webkit-text-fill-color: #fff;
    }
  }

  .row {
    width: 100%;

    h1 {
      color: $text-color-dark;
      text-align: center;
      padding: 5px;  
      margin-bottom: 20px;
      font-size:1.6rem;  
    }

    .eye {
      background-color: transparent;
      color: $color-light;
      border: solid solid solid none $color-secondary;

      &:active {
        color: $color-warning;
      }
    }

    i {
      color: $text-color-mid;
    }

    .error-msg {
      color: $color-danger;
      text-align: center;
      font-size: 0.875rem;  
    }

    .margin-bottom {
      height: 25px;
    }    

    .btn {
      background-color: $bg-color-warning;
      font-size: medium;
      border-radius: 4px;
      border: none;
      color: $color-dark;
      padding: 8px;
      font-size: 0.875rem; 

      &:hover {
        color: $color-light;
      }
    }

    .link {
      color: $color-light;
      text-align: center;
      align-items: center;

      .link-warning {
        color: $color-warning !important;

        &:hover {
          color: $color-warning-2 !important;
        }
      }
    }

    .logotipe {
      text-align: center;

      img {
        width: 80%;
        max-width: 300px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 90vw;
    max-width: 700px;
    margin-top: 30px;
    padding: 15px;
    font-size: 0.8125rem; 
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem; 
  }

  .row {
    .logotipe, img {
      width: 90%;
      max-width: 250px;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
