<app-language class="d-flex justify-content-end" *ngIf="!(loading$ | async)"></app-language>

<div class="container mb-3" *ngIf="!(loading$ | async)">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="loginForm" (submit)="onSubmit()">
                <h1 class="mb-3">{{'login.title' | translate}}</h1>
                <div class="mb-3">
                    <label for="email" class="form-label"><i class="fa-solid fa-at"></i> {{'login.email' | translate}}</label>
                    <input type="text" class="form-control form-control-lg" id="email"
                        placeholder="{{'login.emailplaceholder' | translate}}" formControlName="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><i class="fa-solid fa-lock"></i> {{'login.password' | translate}}</label>
                    <div class="input-group">
                        <input type="password" class="form-control form-control-lg" id="password" autocomplete="off"
                            placeholder="{{'login.passwordplaceholder' | translate}} " formControlName="password">
                        <span class="input-group-text eye" (click)="togglePasswordVisibility()">
                            <i class="fas fa-eye"
                                [ngClass]="{'fa-eye': passwordVisible, 'fa-eye-slash': !passwordVisible}"></i>
                        </span>
                    </div>
                </div>

                <div class="mb-3">
                    <p class="error-msg">
                        {{errorMsg}}
                    </p>
                </div>

                <div id="loading" *ngIf="loading$ | async" class="w-100 h-100">
                    <app-loading></app-loading>
                </div>

                <div class="d-grid mb-3">
                    <button [disabled]="!loginForm.valid"  type="submit" class="btn btn-lg">{{'login.login' | translate}}</button>
                </div>

                <div class="link mb-3">
                    <a href="/recover" class="link-warning">{{'login.forgotpassword' | translate}}</a>
                </div>

            </form>
        </div>
        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>
    </div>
</div>

<div id="loading" *ngIf="loading$ | async" class="w-100 h-100">
    <app-loading></app-loading>
</div>

<div class="margin-button"></div>