<div class="form-container">
    <div id="accountLinkEndViews" class="views">
        <section id="userSettingsCategories" class="">
            <img class="header" aria-hidden="true" src="../../../assets/images/logo/IoTisotipo.png">
            <form id="accountLinkEndForm" method="post">
                <h1 class="otktitle otktitle-2">{{"close.title" | translate}}</h1>
                <br>
                <p class="otkc">{{"close.text" | translate}}</p>
            </form>
        </section>
    </div>
</div>