:host {
  display: flex;
  border-radius: 10px;
}

.snackbar-content-send i {
  margin-right: 8px;
}

.mat-icon-button {
  margin-left: auto;
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #28a745 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: green !important;

}
