:host {
  display: flex;
  border-radius: 10px;
}


.example-pizza-party i {
  margin-right: 8px;
  /* Añade un margen a la derecha del ícono */
}

.mat-icon-button {
  margin-left: auto;
  /* Mueve el botón de cierre al extremo derecho */
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #28a745 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: green !important;

}


.example-pizza-party i {
  margin-right: 8px;
  /* Añade un margen a la derecha del ícono */
}

.mat-icon-button {
  margin-left: auto;
  /* Mueve el botón de cierre al extremo derecho */
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: # !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: green !important;

}
