<span class="snackbar-content-send" matSnackBarLabel>
    <i class="fa-solid fa-check fa-xl"></i>
    <ng-container *ngIf="isIncidencePage">
        {{'snackbars.incidence' | translate}}
    </ng-container>
    <ng-container *ngIf="isMessagePage">
        {{ 'snackbars.menssage' | translate }}
    </ng-container>
    <ng-container *ngIf="isRecoveredPage">
        {{'snackbars.recovered' | translate}}
    </ng-container>
    <ng-container *ngIf="isRecovered2Page">
        {{'snackbars.recovered2' | translate}}
    </ng-container>
</span>
<span matSnackBarActions>
    <button class="btn" matSnackBarAction (click)="snackBarRef.dismissWithAction()"><i class="fa-solid fa-xmark fa-lg"
            style="color: #ffffff;"></i></button>
</span>