<app-button (click)="goBack()"></app-button>

<div class="container mt-lg-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Restablecer contraseña</h2>
            <form [formGroup]="recoveryForm" (ngSubmit)="resetPassword()">
                <div class="mb-3 form-group">
                    <label for="Email" class="form-label"><i class="fa-solid fa-at"></i> Email</label>
                    <input type="Email" class="form-control form-control-lg" id="Email" placeholder="Ingrese su email"
                        formControlName="Email">
                </div>

                <div class="d-grid mb-3">
                    <button [disabled]="!recoveryForm.valid" type="submit" class="iot-log-btn">Restablecer contraseña</button>
                </div>
            </form>
        </div>

        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>

    </div>

</div>