<div class="d-flex justify-content-between">
    <app-button (click)="goBack()"></app-button>
    <app-language></app-language>
</div>

<div class="container mt-lg-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>{{'recovered.title' | translate}}</h4>
            <form [formGroup]="recoveryForm" (ngSubmit)="resetPassword()">
                <div class="mb-3 form-group">
                    <label for="Email" class="form-label"><i class="fa-solid fa-at"></i> {{'recovered.email' |
                        translate}}</label>
                    <input type="Email" class="form-control form-control-lg" id="Email"
                        placeholder="{{'recovered.emailplaceholder' | translate}}" formControlName="Email">
                </div>
                <div class="d-grid mb-3">
                    <button [disabled]="!recoveryForm.valid" (click)="openSnackBar()" id="liveToastBtn" type="submit"
                        class="btn btn-lg">{{'recovered.send' |
                        translate}}</button>
                </div>
            </form>
        </div>
        <div class="logotipe">
            <img src="assets/images/logo/IoTlogo.png" alt="">
        </div>
    </div>
</div>