@import './../../../styles/imports.scss';

* {
  padding: 5px;
}

label {
  font-size: 16px;
}

.form-label {
  text-align: left !important;
}

.form-select {
  border-radius: 5px !important;
  background-color: $bg-color-light;
  color: $text-color-primary !important;
  font-size: 14px;

  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;
  height: 2rem;
  font-size: 14px;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.priority-status-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.prio-container,
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.equal-width {
  width: 300px;
}

@media screen and (max-width: 990px) {
  .priority-status-container {
    flex-direction: column;
    align-items: center;
  }

  .prio-container,
  .status-container {
    width: 100%;
  }

  .prio-container:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90vw;
    max-width: 700px;
    margin-top: 30px;
    padding: 15px;
  }

  .priority-status-container {
    flex-direction: column;
    align-items: center;
  }

  .prio-container,
  .status-container {
    width: 100%;
  }

  .prio-container:not(:last-child) {
    margin-bottom: 20px;
  }
}
