@import './../../../styles/imports.scss';

* {
  padding: 5px;
}


label {
  font-size: 20px;
}

.form-select {
  border-radius: 10px;
  background-color: $bg-color-light;
  color: $text-color-primary !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  &::placeholder {
    color: $text-color-primary;
  }
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;
  height: 40px;


  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.prio-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.option-item:hover{
  background-color: $bg-color-dark;
}

.prio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prio-container label {
  align-self: start;
  width: 25rem;
}

.prio-container select {
  width: 25rem;
}

.prio-container button {
  height: 40px;
  width: 25rem;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.status-container label {
  align-self: start;
  width: 25rem;
}

.status-container select {
  width: 25rem;
}

.status-container button {
  width: 25rem;
  height: 40px;
}

.full-width {
  width: 40vw;
}

.full-width select {
  width: 39.3vw;
}

.full-width button {
  width: 39.3vw;
}

@media screen and (max-width: 990px) {

  .prio-container label {
    width: 20rem;
  }
  
  .prio-container select {
    width: 20rem;
  }
  
  .prio-container button {
    width: 20rem;
  }
  
  .status-container label {
    width: 20rem;
  }
  
  .status-container select {
    width: 20rem;
  }
  
  .status-container button {
    width: 20rem;
  }
}

@media screen and (max-width: 767px) {

  .prio-container label {
    width: 15rem;
  }
  
  .prio-container select {
    width: 15rem;
  }
  
  .prio-container button {
    width: 15rem;
  }
  
  .status-container label {
    width: 15rem;
  }
  
  .status-container select {
    width: 15rem;
  }
  
  .status-container button {
    width: 15rem;
  }
}
