@import './../../../styles/imports.scss';

* {
  padding: 5px;
}


label {
  font-size: 20px;
}

.form-select {
  border-radius: 10px;
  background-color: $bg-color-light;
  color: $text-color-primary !important;

  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  &::-webkit-input-placeholder {
    color: $text-color-primary;
  }

  &::-moz-placeholder {
    color: $text-color-primary;
  }

  &:-ms-input-placeholder {
    color: $text-color-primary;
  }

  &::-ms-input-placeholder {
    color: $text-color-primary;
  }

  &::placeholder {
    color: $text-color-primary;
  }
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;
  height: 40px;


  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.prio-status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.option-item:hover {
  background-color: $bg-color-dark;
}

.prio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.prio-container label {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  width: 17rem;
}

.prio-container select {
  width: 17rem;
}

.prio-container button {
  height: 40px;
  width: 17rem;
}

.status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.status-container label {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  width: 17rem;
}

.status-container select {
  width: 17rem;
}

.status-container button {
  width: 25rem;
  width: 17rem;
}

.full-width {
  width: 40vw;
}

.full-width select {
  width: 39.3vw;
}

.full-width button {
  width: 39.3vw;
}

@media screen and (max-width: 990px) {

  .prio-container label {
    width: 17rem;
  }

  .prio-container select {
    width: 17rem;
  }

  .prio-container button {
    width: 17rem;
  }

  .status-container label {
    width: 17rem;
  }

  .status-container select {
    width: 17rem;
  }

  .status-container button {
    width: 17rem;
  }
}

@media screen and (max-width: 767px) {

  .prio-container label {
    width: 15rem;
  }

  .prio-container select {
    width: 15rem;
  }

  .prio-container button {
    width: 15rem;
  }

  .status-container label {
    width: 15rem;
  }

  .status-container select {
    width: 15rem;
  }

  .status-container button {
    width: 15rem;
  }
}
