//dark
$color-dark: #141416;
$bg-color-dark: #141416;
$text-color-dark: #EFB810;

//mid
$color-mid: #202124;
$bg-color-mid: #202124;
$bg-color-mid-2: #29271f;
$text-color-mid: #fff;

//light
$color-light: #fff;
$bg-color-light: #fff;
$text-color-light: #141416;

//danger
$color-danger: #fd6262;
$bg-color-danger: #fd6262;
$text-color-danger: #fff;

//warning
$color-warning: #EFB810;
$bg-color-warning: #EFB810;
$text-color-warning: #8A8A8A;

//success
$color-success: #28A745;
$bg-color-success: #28A745;
$text-color-success: #fff;

//info
$color-info: #17a2b8;
$bg-color-info: #17a2b8;
$text-color-info: #fff;

//primary
$color-primary: #EFB810;
$bg-color-primary: #EFB810;
$text-color-primary: #141416;

//secondary
$color-secondary: #8A8A8A;
$bg-color-secondary: #737373;
$text-color-secondary: #fff;
