<section class="d-flex">
    <div class="col-12">
        <div class="col-12" id="main">
            <h2>Información de Técnicos</h2>
            <div id="divTable">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th class="phone">Número de teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" class="row-highlight">
                            <td class="id">{{ user.id }}</td>
                            <td class="name">{{ user.userName }}</td>
                            <td class="email">{{ user.email }}</td>
                            <td class="phone">{{ user.phoneNumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>