<section class="d-flex">
    <div class="col-12">
        <div class="col-12" id="main">
            <h3>{{'technical-table.header' | translate}} </h3>
            <div id="divTable">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th>{{'technical-table.name' | translate}}</th>
                            <th>{{'technical-table.email' | translate}}</th>
                            <th class="phone">{{'technical-table.phone' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" class="row-highlight">
                            <td class="name">{{ user.fullName }}</td>
                            <td class="email">{{ user.email }}</td>
                            <td class="phone">{{ user.phoneNumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>