@import "../../../styles/imports.scss";

* {
  padding: 4px 10px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-mid-2;
  border-radius: 20px;  // Reducir el radio de borde
  margin-bottom: 20px;  // Reducir el margen inferior
}

#main {
  padding: 10px;
  border-radius: 20px;  // Reducir el radio de borde
}

h2 {
  color: $text-color-dark;
}

#divTable {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  overflow-x: auto;
  height: min-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $bg-color-mid;
  color: $text-color-mid;
}

th {
  color: $color-dark;
  background-color: $bg-color-warning;
  padding: 4px;  // Reducir el padding
  margin: 0 5px;  // Reducir los márgenes
  font-size: 14px;  // Reducir el tamaño de fuente
}

tr {
  color: $text-color-dark;
  background-color: $bg-color-warning;
  padding: 4px 10px;
  margin: 0 5px;  // Reducir los márgenes
}

td {
  font-size: 14px;
}

tbody td {
  border: 1px solid $bg-color-dark;
  border-left: none;
  border-right: none;
}

.phone {
  text-align: left;
}

.row-highlight {
  background-color: $bg-color-mid;
  color: $text-color-mid;
  font-size: 16px;  // Reducir el tamaño de fuente

  &:hover {
    background-color: $bg-color-secondary;
  }
}

@media screen and (max-width: 992px) {
  #main {
    width: 100%;
    height: auto;
    padding: 15px;  // Reducir el padding
    border-radius: 10px;  // Reducir el radio de borde
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  #main {
    width: 100%;
    height: auto;
    padding: 10px;  // Reducir el padding
    border-radius: 10px;  // Reducir el radio de borde
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  th, tr {
    font-size: 14px;  // Reducir el tamaño de fuente
    padding: 2px 5px;  // Reducir el padding
  }

  .row-highlight {
    font-size: 14px;  // Reducir el tamaño de fuente
  }
}
