@import "../../../../styles/imports.scss";

* {
  padding: 4px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-mid-2;
  border-radius: 25px;
}

.header-row {
  font-weight: bold;
}

#main {
  padding: 20px;
  border-radius: 25px;
  align-items: center;
}

h2 {
  color: $text-color-dark;
  text-shadow: 0 0 15px $color-dark;
}

label {
  font-size: 20px;
  color: $text-color-mid;
  margin-right: 3.5vw;
  margin-left: 3.5vw;
}

.status-label {
  grid-area: status-label;
}

.prio-label {
  grid-area: prio-label;
  margin-left: -0.4vw;
}

.tech-label {
  grid-area: tech-label;
  width: 20vw;
  margin-left: -0.5vw;
}

.date-label {
  grid-area: date-label;
  margin-left: -1vw;
}

.status-select {
  grid-area: status-select;
}

.prio-select {
  grid-area: prio-select;
}

.tech-select {
  grid-area: tech-select;
}

.date-select {
  grid-area: date-select;
  width: 20vw;
}

.filter-button {
  grid-area: filter-button;
  margin-top: -50px;
  margin-left: 40px;
}

.search-bar {
  grid-area: search-bar;
}

#search {
  width: 58.45vw;
  height: 50px;
  margin-top: -50px;
  margin-left: 1vw;
  font-size: 18px;
}

.filters {
  background-color: $bg-color-dark;
  border-radius: 25px;
  border: $bg-color-primary 2px solid;

}

.filter-form {
  display: grid;
  grid-template-areas:
    "status-label prio-label tech-label date-label ."
    "status-select prio-select tech-select date-select ."
    "search-bar search-bar search-bar filter-button .";
}

mat-form-field {
  margin-top: -7px;
  height: 78%;
}

::ng-deep mat-form-field .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 32px;
  margin-top: -50px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 4px;
}

::ng-deep .calendar {
  background-color: $bg-color-mid;
  border: $color-primary 1px solid;
}

::ng-deep .calendar .mat-calendar-body-range-start,
::ng-deep .calendar .mat-calendar-body-range-end {
  background-color: $bg-color-mid;
}

::ng-deep .calendar .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: $color-primary;
}

::ng-deep .calendar .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
::ng-deep .calendar .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: transparent;
}

::ng-deep .calendar .mat-calendar-body-cell-content,
::ng-deep .calendar .mat-calendar-body-label,
::ng-deep .calendar .ng-star-inserted {
  color: $text-color-mid;
}

::ng-deep .calendar .mat-calendar-body-cell:hover {
  background-color: $bg-color-primary;
  border-radius: 20px;
  color: $text-color-primary;
}

::ng-deep .calendar .mat-calendar-body-selected {
  background-color: $bg-color-primary;
  color: $text-color-primary;
}

::ng-deep .calendar .mat-calendar-body-in-range {
  background-color: rgba($color: $color-primary, $alpha: 0.5);
}

::ng-deep .calendar .mat-calendar-header {
  background-color: $bg-color-primary;
}

.form-select {
  border-radius: 10px;
  background-color: $bg-color-light;
  color: $text-color-primary !important;
  margin-right: 2vw;
  margin-left: 1vw;
  width: 15vw;
  height: 50px;


  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  &::placeholder {
    color: $text-color-primary;
  }
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;
  padding: 10px;
  margin-right: -7px;
  margin-left: 20px;
  width: 50px;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.btn-l {
  border-color: $color-primary;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $bg-color-primary;
  padding: 10px;
  border-radius: 5px;
  width: 10vw;
  height: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &:hover {
    border-color: $color-warning;
    color: $color-mid;
    background-color: $bg-color-warning;
  }
}

#divTable {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  height: min-content;
  text-align: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $color-dark;
  color: $text-color-mid;
}

ng-container {
  color: $text-color-mid;
  background-color: $bg-color-warning;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
}

th {
  color: $color-dark;
  background-color: $bg-color-warning;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  height: 60px;
  font-size: 20px;
}

td {
  font-size: 18px;
  height: 40px;
}

tr {
  color: $text-color-dark;
  background-color: $bg-color-warning;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.row-highlight {
  background-color: $color-mid;
  color: $text-color-mid;

  &:hover {
    background-color: $bg-color-secondary;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 20px;

}

.pages {
  background-color: $bg-color-primary;
  color: $text-color-primary;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
  margin-top: -24px;
  margin-left: -4px;
  margin-right: -4px;
  border-top: $bg-color-dark 1px solid;
  font-size: 20px;
  height: 50px;
}

::ng-deep .pages .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  cursor: pointer;
  height: 40px;
}

::ng-deep .pages .mat-mdc-paginator-page-size {
  margin-top: -15px;
}

::ng-deep .pages .mat-mdc-paginator-range-actions {
  margin-top: -15px;
}

.mat-raised-button {
  border-radius: 10px;
  color: $color-dark;
  background-color: $bg-color-warning;

}

.edit-icon {
  cursor: pointer;
}

.mat-badge-content {
  font-size: 15px;
  margin-top: 5px;
}

.progress-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1300px) {
  .filter-form {
    display: grid;
    grid-template-areas:
      "status-label prio-label . . ."
      "status-select prio-select . . ."
      "tech-label date-label . . ."
      "tech-select date-select . . ."
      "search-bar search-bar search-bar filter-button .";
  }
}


@media screen and (max-width: 992px) {
  #main {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 615px) {
  .filter-form {
    display: grid;
    grid-template-areas:
      "status-label ."
      "status-select ."
      "prio-label ."
      "prio-select ."
      "tech-label ."
      "tech-select ."
      "date-label ."
      "date-select ."
      "search-bar ."
      "filter-button .";
  }

  .btn-l {
    width: 100px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  #main {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0;
    align-items: center;
    cursor: pointer;
  }

}
