<section class="d-flex">
    <div class="col-12" id="main">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Incidencias</h2>
            <div class="ml-auto">
                <a class="btn" href="/incidencia" type="button">Crear Incidencia</a>
                <a class="btn" type="button">Mostrar Todo</a>
            </div>
        </div>
        <div id="divTable">
            <table mat-table [dataSource]="dataSource" matSort #sort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        #
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                        Titulo
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Prioridad
                    </th>
                    <td mat-cell *matCellDef="let element"> <button mat-raised-button #tooltip="matTooltip"
                            [matTooltip]="element.priority" matTooltipPosition="above" [ngStyle]="getButtonPriority(element.priority)">
                        </button></td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Estado
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button #tooltip="matTooltip" [matTooltip]="element.state"
                            matTooltipPosition="above" [ngStyle]="getButtonState(element.state)">
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Fecha Creación
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>

                <ng-container matColumnDef="technician">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Tecnico
                    </th>
                    <td mat-cell *matCellDef="let element"> element.userId </td>
                </ng-container>

                <ng-container matColumnDef="show">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Editar
                    </th>
                    <td mat-cell *matCellDef="let element"><i class="fa-solid fa-pen-to-square fa-2x"></i></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"
                    (mouseover)="highlightRow($event)" (mouseleave)="unhighlightRow($event)"
                    [class.selected]="row === selectedRow" (click)="onRowClicked(row)"></tr>

            </table>

        </div>

        <div>
            <mat-paginator class="pages" [pageSizeOptions]="[10, 25, 35, 50]" showFirstLastButtons
                #paginator></mat-paginator>
        </div>
    </div>
</section>