<section class="d-flex">
    <div class="col-12" id="main">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Incidencias</h2>
            <div class="ml-auto">
                <a class="btn" href="/incidencia" type="button" *ngIf="isSupportManager"><i
                        class="fa-solid fa-plus"></i></a>
                <a class="btn" type="button" (click)="cambiarIcono()" (click)="showAll()" *ngIf="isSupportManager"><i
                        #icon class="fa-solid fa-eye"></i></a>
            </div>
        </div>
        <div id="divTable">
            <table mat-table [dataSource]="dataSource" matSort #sort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell mat-sort-header  *matHeaderCellDef class="headerRow">#</th>
                    <td mat-cell *matCellDef="let element" class="numberRow"> {{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"
                        class="headerRow">
                        Titulo
                    </th>
                    <td mat-cell *matCellDef="let element" class="titleRow"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"
                        class="headerRow">
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let element" class="nameRow"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"
                        class="headerRow">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element" class="emailRow"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"
                        class="headerRow">
                        Prioridad
                    </th>
                    <td mat-cell *matCellDef="let element" class="imgRow"> 
                        <button mat-raised-button
                            #tooltip="matTooltip" [matTooltip]="element.priority" matTooltipPosition="above"
                            [ngStyle]="getButtonPriority(element.priority)">
                        </button></td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                        class="headerRow">
                        Estado
                    </th>
                    <td mat-cell *matCellDef="let element" class="imgRow">
                        <button mat-raised-button #tooltip="matTooltip" [matTooltip]="element.state"
                            matTooltipPosition="above" [ngStyle]="getButtonState(element.state)">
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"
                        class="headerRow">
                        Fecha Creación
                    </th>
                    <td mat-cell *matCellDef="let element" class="numberRow"> {{element.timestamp}} </td>
                </ng-container>

                <ng-container matColumnDef="technician">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                        class="headerRow">
                        Técnico
                    </th>
                    <td mat-cell *matCellDef="let element" class="techRow"> {{element.techName}} </td>
                </ng-container>

                <ng-container matColumnDef="newMessages" *ngIf="!isSupportManager">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                        class="headerRow">
                        Nuevos
                    </th>
                    <td mat-cell *matCellDef="let element" class="newRow"><i class="fa-solid fa-envelope fa-2x"
                            *ngIf="!element.hasNewMessages"></i><i class="fa-solid fa-envelope-open-text fa-2x"
                            *ngIf="element.hasNewMessages"></i></td>
                </ng-container>

                <ng-container matColumnDef="show">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
                        class="headerRow">
                        Editar
                    </th>
                    <td mat-cell *matCellDef="let element" class="editRow">
                        <i class="fa-solid fa-pen-to-square fa-2x editIcon" (click)="onRowClicked(element)"></i></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"
                    (mouseover)="highlightRow($event)" (mouseleave)="unhighlightRow($event)"></tr>

            </table>

        </div>

        <div>
            <mat-paginator class="pages" [pageSizeOptions]="[10, 25, 35, 50]" showFirstLastButtons
                #paginator></mat-paginator>
        </div>
    </div>
</section>