@import '../../../../styles/imports.scss';

.loader {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: inline-block;
  border-top: 10px solid $color-warning;
  border-right: 10px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border-left: 10px solid $color-light;
  border-bottom: 10px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: $bg-color-mid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $color-light;
  font-size: 20px;
  text-shadow: 0 0 15px $color-dark;
}


@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
