<div>
    <label for="tecnico" class="form-label"><i class="fa-solid fa-user"></i>Técnico</label>
    <select class="form-select form-select-lg" id="tecnico" required name="tecnico">
        <option value="">Seleccione un técnico</option>
        <option> </option>
    </select>
</div>

<div class="mb-3">
    <label for="prioridad" class="form-label"><i class="fa-solid fa-bell"></i>Prioridad</label>
    <select class="form-select form-select-lg" id="prioridad" required name="prioridad">
        <option value="">Seleccione un grado de prioridad</option>
        <option>p</option>
    </select>
</div>

<div class="mb-3">
    <label for="estado" class="form-label"><i class="fa-solid fa-traffic-light"></i>Estado</label>
    <select class="form-select form-select-lg" id="estado" required name="estado">
        <option value="">Seleccione un estado</option>
        <option>s</option>
    </select>
</div>

<div class="d-grid gap-2">
    <button type="submit" class="btn btn-lg"><i class="fa-solid fa-floppy-disk"></i> Reasignar
        formulario</button>
</div>