@import './../../../../styles/variables.scss';

* {
  padding: 5px;
}


label {
  font-size: 20px;
}

.form-select {
  border-radius: 10px;
  background-color: $bg-color-light;
  color: $text-color-primary !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  &::placeholder {
    color: $text-color-primary;
  }
}

.btn {
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-warning;
  height: 40px;


  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.prioStatusContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
}

.prioContainer label {
  align-self: start;
}

.prioContainer button {
  width: 21.3vw;
  height: 40px;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
}

.statusContainer label {
  align-self: start;
}

.statusContainer button {
  width: 21.3vw;
  height: 40px;
}