@import "../../../../style/variables.scss";

* {
  padding: 5px;
}

h1 {

  color: #EFB810;
  text-align: center;
}

.btn {
  border-radius:5px ;
  color: $color-dark;
  background-color: $bg-color-warning;


  &:hover {
    color:  $color-light;
    background-color: $bg-color-dark;
    border-color:  $color-light;
  }
}


.btn2 {
  border-color: #D25454;
  color: black;
  background-color: #EFB810;
  margin-left: 1vw;
  margin-top: 20px;
  font-size: 22px;
  width: 60px;
  height: 44px;

  &:hover {
  color: white;
  background-color: #141416;
  border-color: white;
}
}



.container {
  margin: 2rem auto;
  border-radius: 25px;
  background-color: #202124;
  width: 900px;
  padding: 20px;
  color:
    /* #141416*/
    white;
  outline: none;
  box-shadow: none;
}

.p-3 {
  padding: 20px;
  background-color: #141416;
  border-radius: 15px;
}

label {
  font-size: 20px;

}

.ticketdata {
  color: #EFB810;
  font-size: 21px;
}

p {
  font-size: 16px;
}

.font {
  font-size: 18px;
  color: white;
  margin-left: 18px;
}


.form-select {
  border-radius: 10px;
  background-color: $bg-color-mid;
  color: $text-color-warning !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }
  &::placeholder{
    color: $text-color-warning;
  }
}

.custom-file-button {
  display: block;
  margin: 0 auto;
  color: $text-color-light;
  background-color: $bg-color-warning;
  border: 1px solid $color-warning;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.logotipe {
    text-align: center;
  
  
    img {
      width: 350px;
      height: auto;
      border-radius: 10px;
    }
  
  
    .preview-image {
      width: 150px;
      height: auto;
      border-radius: 10px;
  
    }
  }

.preview-link {
    color: $text-color-dark;
}

#Content {
  resize: none;
  border-radius: 10px;
  background-color: $bg-color-mid;
  color: $text-color-warning !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $color-warning;
  }

  &::placeholder {
    color: $text-color-warning;
  }

}

.coment {
  margin-left: 1vw;
}


.success {
  color: green;
}

.error {
  color: red;
}

/* Media queries */
@media screen and (max-width: 900px) {

  /* Estilos para tablets */
  .container {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .btn2 {
    width: 100%;
  }

  .font {
    font-size: 16px;
  }
}


/* Media queries */
@media screen and (max-width: 600px) {

  /* Estilos para pantallas más pequeñas */
  .container {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .btn2 {
    width: 100%;
  }
}
