<app-sidebar></app-sidebar>
<mat-progress-spinner *ngIf="isLoading" mode="indeterminate" color="warn" class="progressSpinner"></mat-progress-spinner>
<div class="dashboard" *ngIf="!isLoading">
    <div class="main-content">
        <app-incidence-table></app-incidence-table>

        <div class="grid-container">
            <div class="item1"><app-chart-pie></app-chart-pie></div>
            <div class="item2"><app-chart-doughnut></app-chart-doughnut></div>
            <div class="item3"><app-chart-bar></app-chart-bar></div>
        </div>
        
    </div>
</div>