<div class="header-container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <img src="../../../assets/images/logo/IoTlogo.png" alt="">
        <h1>loggedUserName</h1>
    </div>

    <button class="btn btn-lg" type="button" (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-rotate-180">
        </i>Log out</button>
</div>

<div class="grid-container">
    <div class="item1"><app-incidence-table></app-incidence-table></div>
    <div class="item2"><app-chart-pie></app-chart-pie></div>
    <div class="item3"><app-chart-doughnut></app-chart-doughnut></div>  
    <div class="item4"><app-chart-bar></app-chart-bar></div>
  </div>  