@import '../../../../styles/imports.scss';

.modal-content {
  background-color: $bg-color-mid-2;
  height: 37rem; // Cambiado a min-height para permitir que crezca según el contenido
  padding: 1rem; // Añadido padding para mejorar el espacio interior
}

.modal-body {
  overflow-y: scroll;
}

.modal-content ::-webkit-scrollbar-track,
.modal-content ::-webkit-scrollbar-corner {
  background-color: $bg-color-mid-2;
}

h1 {
  color: $color-warning;
  font-size: 2rem; // Ajustado el tamaño de la fuente para dispositivos móviles
  margin-bottom: 1rem; // Espacio inferior añadido para separar el título
}

span {
  color: $text-color-warning;
}

hr {
  border-color: $text-color-warning;
}

.modal-message {
  color: white !important;
  background-color: $bg-color-mid;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  text-align: left;
}

.btn-close {
  color: white !important;

  &:focus {
    box-shadow: none;
  }
}

.btn {
  color: $color-dark;
  background-color: $bg-color-warning;
  width: 100%; // Ancho ajustado para llenar el contenedor
  max-width: 200px; // Añadido un máximo para no ocupar todo el ancho en pantallas grandes
  height: 3rem; // Ajuste de altura para botones más pequeños en dispositivos móviles
  border-radius: 5px;
  border: 1px solid $bg-color-warning;
  font-size: 1rem; // Ajustado el tamaño de la fuente para dispositivos móviles

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.custom-file-button {
  color: $text-color-light;
  background-color: $bg-color-warning;
  border: 1px solid $color-warning;
  border-radius: 5px;
  padding: 0.5rem 1rem; // Ajustado el relleno para dispositivos móviles
  cursor: pointer;
  font-size: 1rem; // Ajustado el tamaño de la fuente para dispositivos móviles

  &:hover {
    color: $color-warning;
    background-color: $color-light;
    border-color: $color-warning;
    transition: 0.3s;
  }
}

.attachments {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap; // Permite que los elementos se envuelvan en pantallas más pequeñas
  gap: 1rem; // Ajuste del espacio entre elementos
}

.attachment-item {
  text-align: center;
  width: 100%; // Ancho ajustado para llenar el contenedor en dispositivos móviles
  max-width: 150px; // Ancho máximo para mantener la consistencia visual
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}
