@import '../../../../styles/imports.scss';

.modal-content {
  background-color: $bg-color-mid-2;
  height: 62vh;
  padding: 1rem;
}

.modal-body {
  overflow-y: scroll;
}

.modal-content ::-webkit-scrollbar-track,
.modal-content ::-webkit-scrollbar-corner {
  background-color: $bg-color-mid-2;
}

h3 {
  color: $color-warning;
}

span {
  color: $text-color-warning;
}

hr {
  border-color: $text-color-warning;
}

.modal-message {
  color: white !important;
  background-color: $bg-color-mid;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 16px;
}

.btn-close {
  color: white !important;

  &:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.btn {
  color: $color-dark;
  background-color: $bg-color-warning;
  width: 100%;
  max-width: 200px;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid $bg-color-warning;
  font-size: 1rem;

  &:hover {
    color: $color-light;
    background-color: $bg-color-dark;
    border-color: $color-light;
  }
}

.custom-file-button {
  color: $text-color-light;
  background-color: $bg-color-warning;
  border: 1px solid $color-warning;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    color: $color-warning;
    background-color: $color-light;
    border-color: $color-warning;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

.attachments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.attachment-item {
  text-align: center;
  width: 100%;
  max-width: 150px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}
