<div class="d-flex justify-content-between align-items-center text-center">
    <h1>{{ 'history.title' | translate }}</h1>
    <button class="custom-file-button btn-lg mt-3" (click)="reloadMessages()">
        <i class="fa-solid fa-arrows-rotate"></i>
    </button>
</div>
<hr>
<div class="modal-content">
    <div class="modal-body">
        <div class="modal-message" *ngFor="let message of messages">
            <div class="d-flex justify-content-between">
                <h4>{{message.author}}</h4>
                <span>{{message.timestamp}}</span>
            </div>
            <p>{{message.content}}</p>
            <div class="attachments">
                <div class="attachment-item" *ngFor="let attachment of message.attachments">
                    <img [src]="attachment.previewUrl" class="img-fluid" matTooltip="{{attachment.name}}" alt="Image preview">
                    <button class="custom-file-button btn-lg mt-3" (click)="downloadAttachment(attachment.path)">
                        <i class="fa-solid fa-download"></i> {{ 'message.download' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
