@import '../../../../styles/imports.scss';

h1 {
    color: $text-color-dark;
    padding: 20px;
  }

.message {
    color: white;
    background-color: #141416;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}


.custom-file-button {
    display: block;
    margin: 0 auto;
    color: $text-color-light;
    background-color: $bg-color-warning;
    border: 1px solid $color-warning;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  
    &:hover {
      color: $color-light;
      background-color: $bg-color-dark;
      border-color: $color-light;
    }
  }
