<h1>{{'history.title' | translate}}</h1>
<hr>
<div class="modal-content">
    <div class="modal-body">
        <div class="modal-mensage" *ngFor="let message of messages">
            <div class="d-flex justify-content-between">
                <h4>{{message.author}}</h4>
                <span class="justify-content-end">{{message.timestamp}}</span>
            </div>
            <p>{{message.content}}</p>
            <div>
                <div>
                    <div *ngIf="message.attachmentPaths && message.attachmentPaths.length > 0"
                        class="d-flex justify-content-center preview">
                        <div *ngFor="let attachment of message.attachments">
                            <img [src]="attachment.previewUrl" alt="">
                            <button class="custom-file-button btn-lg"
                                (click)="downloadAttachment(attachment.attachmentPath)"><i
                                    class="fa-solid fa-download"></i> {{'message.download' | translate}}
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>