<section class="d-flex">
    <div class="col-12" id="main">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Incidencias</h2>
            <div class="ml-auto">
                <a class="btn" href="/incidencia" type="button" *ngIf="isSupportManager"><i
                        class="fa-solid fa-plus"></i></a>
                <a class="btn" type="button" (click)="cambiarIcono()" (click)="showAll()" *ngIf="isSupportManager"><i
                        #icon class="fa-solid fa-eye"></i></a>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>name</th>
                    <th>email</th>
                    <th>priority</th>
                    <th>state</th>
                    <th>created_at</th>
                    <th>tech</th>
                    <th>edit</th>
                </tr>
                <tr class="row-highlight">
                    <td>element.id</td>
                    <td>element.title</td>
                    <td>element.name</td>
                    <td>element.email</td>
                    <td> <button mat-raised-button #tooltip="matTooltip" [matTooltip]="element.priority"
                            matTooltipPosition="above" [ngStyle]="getButtonPriority(element.priority)">
                        </button></td>
                    <td><button mat-raised-button #tooltip="matTooltip" [matTooltip]="element.state"
                            matTooltipPosition="above" [ngStyle]="getButtonState(element.state)">
                        </button></td>
                    <td>element.timestamp</td>
                    <td>element.techName</td>
                    <td><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
            </table>
        </div>
        <div>
            <mat-paginator class="pages" [pageSizeOptions]="[10, 25, 35, 50]" showFirstLastButtons
                #paginator></mat-paginator>
        </div>
    </div>
</section>