//dark
$color-dark: #141416;
$bg-color-dark: #141416;
$text-color-dark: #EFB810;

//mid
$color-mid: #202124;
$bg-color-mid: #202124;
$text-color-mid: #fff;

//light
$color-light: #fff;
$bg-color-light: #fff;
$text-color-light: #141416;

//danger
$color-danger: #fd6262;
$bg-color-danger: #fd6262;
$text-color-danger: #fff;

//warning
$color-warning: #EFB810;
$bg-color-warning: #EFB810;
$text-color-warning: #8A8A8A;