<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="readMessages()"><i class="fa-solid fa-comments"></i> {{"message.button" | translate}}
  </button>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-comments"></i> {{"message.title" | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <hr>
        <div class="modal-mensage" *ngFor="let message of messages">
          <div class="d-flex justify-content-between">
            <h4>{{message.author}}</h4>
            <span class="justify-content-end">{{message.timestamp}}</span>
          </div>
          <p>{{message.content}}</p>
          <div>
            <div>
              <div *ngIf="message.attachmentPaths && message.attachmentPaths.length > 0"
                class="d-flex justify-content-center preview">
                <div *ngFor="let attachment of message.attachments">
                  <img [src]="attachment.previewUrl" alt="">
                  <button class="custom-file-button btn-lg" (click)="downloadAttachment(attachment.attachmentPath)"><i
                      class="fa-solid fa-download"></i> {{"message.download" | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>