@import "../../../../styles/imports.scss";

#section3 {
  padding: 10px;
  color: $color-light;
  width: 800px;
  height: 400px;
  border-radius: 10px;
}

#myChart {
  width: 20%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 100%;
    border-radius: 0px;
  }
}
