@import './../../../styles/imports.scss';

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: $text-color-dark;
}

.p-3 {
  border-radius: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: $bg-color-mid-2;
}

.ticket-data {
  color: $color-warning;
  text-align: center;
}

.font {
  font-size: 20px;
  color: $text-color-mid;
  text-align: center;
}

.logo {
  grid-area: iso;
  background-color: $bg-color-dark !important;
  height: 90px;
}

.language {
  grid-area: leng;
  background-color: $bg-color-dark !important;
}

.history {
  grid-area: hist;
  width: 100%;
}

.status {
  grid-area: status;
  height: fit-content;
}

.message-form {
  grid-area: msg;
}

.title {
  grid-area: title;
  margin-top: 15px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'iso title title title title leng'
    'hist hist hist hist status status'
    'hist hist hist hist msg msg'
    'hist hist hist hist msg msg'
    'hist hist hist hist msg msg';
  grid-gap: 10px;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
}

.grid-container>div {
  background-color: $bg-color-mid-2;
  color: $text-color-mid;
  border-radius: 25px;
  padding: 20px;
}

img {
  height: 90px;
}

@media screen and (max-width: 992px) {

  .grid-container {
    display: grid;
    grid-template-areas:
      'iso title leng  '
      'status status status'
      'hist hist  hist '
      'msg msg msg';
    grid-gap: 10px;
    border-radius: 20px;
    padding: 10px;
    height: auto;
  }

  img {
    height: 90px;
  }

  .title {
    font-size: 3vw;
  }

  .logo img {
    height: 9vw;
  }

}
