@import './../../../styles/imports.scss';

* {
  padding:0;
  overflow: hidden;
}

h1 {
  color: $text-color-dark;
}

.p-3 {
 background-color: $bg-color-mid;
 border-radius: 15px;
 margin-left: 1rem;
 margin-right: 1rem;
}

.ticketdata {
  color: #EFB810;
  font-size: 30px;
}

.font {
  font-size: 20px;
  color: white;
  margin-left: 18px;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 0.95fr;
  grid-gap: 10px;
}

.grid-item {
  background-color: $bg-color-mid-2;
  color: $text-color-mid;
  border-radius: 25px;
  padding: 20px;
}

.grid-item:nth-child(1) {
  grid-row-end: span 2;
}

img {
  height: 10vh;
}