* {
  padding: 20px;
}

h1 {
  color: #EFB810;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

img {
  height: auto;
  width: 350px;
}

p {
  font-size: large;
}

.logotipe {
  text-align: center;
}

.error-container {
  background-color: #202124;
  color: #fff;
  width: 800px;
  height: 600px;
  padding: 70px;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
}

.btn {
  border-color: #D25454;
  color: black;
  background-color: #EFB810;
}

.btn:hover {
  color: white;
  background-color: #141416;
  border-color: white;
}

@media screen and (max-width: 992px) {

  .error-container {
    color: white;
    width: 800px;
    height: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;

  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .error-container {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
