@import '../../../styles/imports.scss';

* {
  padding: 20px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header menu menu menu menu'
    'main main menu menu menu menu'
    'footer footer menu menu menu menu';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  color: white;  
  padding: 20px 0;
  font-size: 30px;
  margin: 20px;
}




.item2{
  display: flex;
  justify-content: center;
  background-color: $bg-color-mid-2;
  border-radius: 25px;
}

.item3{
  color: $text-color-dark !important;
  font-weight: bold;
  font-size: 50px;
  text-align: left !important; 
}


.item4{
  text-align: left !important;
}


img{
  border-radius: 25px;
  width: 70vh;
  height: auto;
}

@media screen and (max-width: 992px) {

  .error-container {
    color: white;
    width: 800px;
    height: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;

  }
}

@media screen and (max-width: 600px) {
  .error-container {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
