@import '../../../styles/imports.scss';

* {
  padding: 20px;
}

.logo { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-area: header; }
.image { -ms-grid-row: 1; -ms-grid-row-span: 5; -ms-grid-column: 5; -ms-grid-column-span: 7; grid-area: menu; }
.title { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-area: main; }
.description { -ms-grid-row: 5; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-area: footer; }

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas:
    'header header menu menu menu menu'
    'main main menu menu menu menu'
    'footer footer menu menu menu menu';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  color: white;  
  padding: 20px 0;
  font-size: 30px;
  margin: 20px;
}

.image{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: $bg-color-mid-2;
  border-radius: 25px;
}

.title{
  color: $text-color-dark !important;
  font-weight: bold;
  font-size: 50px;
  text-align: left !important; 
}

.description{
  text-align: left !important;
}

img{
  border-radius: 25px;
  width: 70vh;
  height: auto;
}

@media screen and (max-width: 992px) {

  .error-container {
    color: white;
    width: 800px;
    height: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;

  }
}

@media screen and (max-width: 600px) {
  .error-container {
    width: 100%;
    padding: 20px;
    border-radius: 0;
    height: auto;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}