<div class="lenguage">
   <button type="button" class="btn btnES" [class.active]="esButtonPressed" (click)="switchLanguage('es')"><img
         src="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP.png"
         srcset="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP.png, https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP_2x.png 2x"
         alt="Spanish"></button>
   <button type="button" class="btn btnEN" [class.active]="enButtonPressed" (click)="switchLanguage('en')"><img
         src="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR.png"
         srcset="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR.png, https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR_2x.png 2x"
         alt="English"></button>
</div>