<app-sidebar></app-sidebar>
<div id="loading" *ngIf="(loading$ | async)" class="w-100 h-100">
    <app-loading></app-loading>
</div>
<div class="dashboard" *ngIf="!(loading$ | async)">
    <div class="main-content">
        <app-incidence-table></app-incidence-table>

        <div class="grid-container">
            <div class="item1"><app-chart-pie></app-chart-pie></div>
            <div class="item2"><app-chart-doughnut></app-chart-doughnut></div>
            <div class="item3"><app-chart-bar></app-chart-bar></div>
        </div>
        
        <app-technical-table></app-technical-table>
    </div>
</div>