<app-sidebar></app-sidebar>
<div class="dashboard">
    <div class="main-content">
        <app-incidence-table (dataEvent)="receiveDataFromChild($event)"></app-incidence-table>

        <div class="grid-container">
            <div class="item1"><app-chart-pie></app-chart-pie></div>
            <div class="item2"><app-chart-doughnut></app-chart-doughnut></div>
            <div class="item3"><app-chart-bar [isShowingAll]="isShowingAll"></app-chart-bar></div>
        </div>
        
        <app-technical-table></app-technical-table>
    </div>
</div>
