<form [formGroup]="messageForm" (submit)="onSubmit()" enctype="multipart/form-data">
    <h1>{{"comunication.title" | translate}}</h1>
    <div class="form-group">
        <label for="Attachments"><i class="fa-solid fa-folder"></i> {{"comunication.upload" | translate}}</label> <br>
        <input type="file" id="Attachments" formControlName="Attachments" (change)="onFileChange($event)"
            style="display: none;" multiple>
        <button type="button" onclick="document.getElementById('Attachments').click()"
            class="custom-file-button btn btn-lg"><i class="fa-solid fa-arrow-up-from-bracket"></i>
            {{"comunication.select" | translate}}</button>
        <div *ngIf="isFileSelected" class="logotipe preview">
            <div *ngFor="let previewUrl of previewUrls; let i = index">
                <img *ngIf="isImage(previewUrl)" [src]="previewUrl" class="preview-image"
                    alt="Vista previa del archivo">
                <div *ngIf="!isImage(previewUrl)">
                    <img [src]="previewUrl" class="preview-image" alt="Vista previa del archivo">
                    <p>{{ selectFilesNames[i] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="Content" class="form-label"><i class="fa-solid fa-message"></i> {{"comunication.name" |
            translate}}</label>
        <textarea class="form-control  form-control-lg" id="Content" rows="3"
            placeholder="{{'comunication.nameplaceholder' | translate}}" formControlName="Content"></textarea>
    </div>
    <p *ngIf="successMsg" class="success">{{ successMsg }}</p>
    <p *ngIf="!successMsg" class="error">{{ successMsg }}</p>
    <div class="d-flex justify-content-end">
        <button [disabled]="!messageForm.valid" type="submit" class="m-1 btn btn-lg"><i class="fa-solid fa-paper-plane"
                (click)="openSnackBar()" id="liveToastBtn"></i> {{"comunication.send" | translate}}</button>
        <app-message></app-message>
    </div>
</form>