// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TicketsIOT-primary: mat.define-palette(mat.$indigo-palette);
$TicketsIOT-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TicketsIOT-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TicketsIOT-theme: mat.define-light-theme((color: (primary: $TicketsIOT-primary,
      accent: $TicketsIOT-accent,
      warn: $TicketsIOT-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TicketsIOT-theme);

body, html {
  background-color: #141416 !important;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #404144;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #141416;
}

::-webkit-scrollbar-corner {
  background-color: #141416;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea)
.mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  margin-top: -8px;
  margin-bottom: 6px;
}

mat-form-field[_ngcontent-ng-c1993642876] {
  width: 97%;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  width: 100%;
}

.mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
  margin-top: -12px;
}

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 50px;
}

tr[_ngcontent-ng-c1993642876] {
  height: 30px;
}

.pages .mat-mdc-paginator-page-size {
  margin-top: -25px;
}

.mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  margin-top: -5px;
}

.pages[_ngcontent-ng-c1993642876] {
  height: 40px;
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

