<form>
    <div class="mb-3">
        <label for="estado" class="form-label"><i class="fa-solid fa-traffic-light"></i>Estado</label>
        <select class="form-select form-select-lg" id="estado" required [(ngModel)]="selectedStateValue" name="estado">
            <option value="-1">Seleccione un estado</option>
            <option value="1">OPENED</option>
            <option value="2">PAUSED</option>
            <option value="3">FINISHED</option>
        </select>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-lg" (click)="updateTicket()"><i class="fa-solid fa-floppy-disk"></i> Modificar incidencia</button>
    </div>
</form>