<form>
    <div class="mb-3">
        <label for="status" class="form-label"><i class="fa-solid fa-traffic-light"></i> {{"data.status" | translate}}</label>
        <select class="form-select form-select-lg" id="status" required [(ngModel)]="selectedStatusValue" name="status">
            <option value="-1">{{"data.option3" | translate}}</option>
            <option *ngFor="let s of status" [value]="s">{{getStatusString(s)}}</option>
        </select>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-lg" (click)="updateTicket()"><i class="fa-solid fa-floppy-disk"></i>
            {{"data.saveStatus" | translate}}</button>
    </div>
</form>